@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100&display=swap");
@import url("https://cdn.syncfusion.com/ej2/material.css");

/* Styling the footer */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(245, 243, 243);
}

button {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    margin: 20px auto 10px auto;
    font-size: 1.2em;
}
button:hover {
    background-color: rgb(7, 88, 102);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(34, 34, 34);
}

.footer-container {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-top: 1px solid;
    border-color: rgb(211, 211, 211);
}

.footer-container h2 {
    line-height: 50px;
    margin-top: 20px;
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}

.icons-container a {
    color: rgb(75, 75, 75);
    text-shadow: 5px 5px 5px black;
}

.icons-container a:hover {
    color: rgb(39, 39, 39);
    transition: 0.5s;
}

/* Styling the navbar */
.nav-bar {
    height: 70px;
    width: 100%;
    background-color: rgb(7, 88, 102);
    color: white;
}

.logo {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.logo-label {
    float: right;
    margin: 10px 50px 0 0;
}

@media (max-width: 952px) {
    .logo {
        font-size: 28px;
    }
    .nav-bar {
        display: flex;
    }
}

/* Styling the welcome page */
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto 150px auto 150px;
    padding: 50px;
    border: 1px solid;
    border-color: rgb(211, 211, 211);
    border-radius: 25px;
}

@media (max-width: 952px) {
    .welcome {
        margin: auto 25px auto 25px;
    }
    .welcome h3 {
        font-size: 15px;
    }
    .welcome p {
        font-size: 14px;
    }
}

/* Styling main page */

.task-manager {
    display: flex;
    flex-direction: row;
}

.task-container {
    height: 80vh;
    overflow-y: auto;
    width: 100%;
    margin: 25px;
    border: 1px solid;
    border-color: rgb(211, 211, 211);
    border-radius: 25px;
    padding: 10px;
}

@media (max-width: 952px) {
}

/* Styling side bar page */

.side-bar {
    width: 300px;
    height: 80vh;
    border: 1px solid;
    border-color: rgb(211, 211, 211);
    background-color: white;
    margin: 25px;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin-top: 12px;
}

/* Styling task component */
.task {
    width: 250px;
    height: 150px;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(117, 117, 117);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid;
    border-color: rgb(211, 211, 211);
    margin: 20px;
}

.task:hover {
    width: 260px;
    height: 160px;
    transition: 1s;
    margin-top: 25px;
    margin-left: 25px;
}

.task button {
    float: right;
}
